body {background-color:rgb(10, 121, 71);}
h1 {color:rgb(255, 205, 129);
     justify-content: center;}

#container {
      background-color: black;
      width: 90%;
      height: 1000px;
      margin: 0 auto;
      border: 5px solid gray;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
#container div{
    height: 40%;
    width: 40%;
    background-color: aqua;

}
#TODO{
    background-color: beige;
}
#WishList{
    background-color: blue;
}
#Suppliments{
    background-color: antiquewhite;
}
#Exercize{
    background-color: brown;
}
