body {background-color:rgb(10, 121, 71);}
h1 {color:rgb(255, 205, 129);}

#container {
      background-color: black;
      width: 90%;
      height: 1000px;
      margin: 0 auto;
      border: 5px solid gray;
      display:flex;
}
#container div{
    height: 450px;
    width: 375px;
    background-color: aqua;

}
#TODO{
    background-color: beige;
}
#WishList{
    background-color: blue;
}
#Suppliments{
    background-color: antiquewhite;
}
#Exercize{
    background-color: brown;
}
